<html>
	<head><title><TMPL_VAR NAME=INITIALS> Calendar</title></head>
	<body>
		<style type="text/css">
			.tg  {border-collapse:collapse;border-spacing:0;}
			.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
			.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
			.tg .tg-yw4l{vertical-align:top}
		</style>
		<TMPL_VAR NAME=JUDGE> <TMPL_VAR NAME=MONTH> <TMPL_VAR NAME=DATE>, <TMPL_VAR NAME=YEAR>, derived from SLC_Calendar.pdf that was last modified on <TMPL_VAR NAME=MODIFIED>, and with SHA512:<br>
		<TMPL_VAR NAME=DIGEST>
		<p>
		<TMPL_LOOP NAME=ENTRY>
		<table class="tg">
			<tr>
				<th class="tg-yw4l"><TMPL_VAR NAME=ENTRY_NUMBER></th>
				<th class="tg-yw4l"><TMPL_VAR NAME=DEFENDANT></th>
				<th class="tg-yw4l"><TMPL_VAR NAME=CASE_NUMBER></th>
				<th class="tg-yw4l"><TMPL_VAR NAME=HEARING_TYPE></th>
				<th class="tg-yw4l"></th>
			</tr>
			<br>
		</table>
		</TMPL_LOOP>
	</body>
</html>
